#question-area {

    border: 3px solid #eee;
    border-radius: 10px;
    padding: 30px;
}

.answer input:checked + label {
    font-weight: bold;
}

.answer-label {
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}

.test-button {
    margin-left:  0 !important;
    margin-right: 0 !important;
}

#question-number{
    font-weight: bold;
    text-align: center;
}

#question-number{
    flex:auto;
}
