#question-area {
    margin: 5%;
    border: 3px solid #eee;
    border-radius: 10px;
    padding: 30px;
}

.send-button {
    margin-top: 5%;
}

#send-button {
    width: 50%;
}

.answer input:checked + label {
    font-weight: bold;
}

.answer-label {
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}
